body {
    background-image: url(https://github.com/RishiDotto/RishiWeb/blob/main/Media/bg_water.gif);
    background-repeat: repeat;
    background-position: top center;
    background-attachment: fixed;
}
