body {
    background-image: url(file:///Users/ricardocastroquesada/Documents/rishidotto/Media/bg_water.gif);
    background-repeat: repeat;
    background-position: top center;
    background-attachment: fixed;
}